Repository sibiraj-s/vscode-scss-formatter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,ts}': eslint --fix
'*.md': prettier --write

ci: update actions/checkout and actions/setup-node to v3
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: none

chore: remove broken badges from README
  README.md
Due: prettier --write

build: update devDependencies
  package-lock.json
  package.json
Due: none

chore: fix package-lock.json
  package-lock.json
Due: none

chore: fix typedef comment
  webpack.config.js
Due: eslint --fix

feat: update prettier to v2.6.1
  package-lock.json
  package.json
Due: none

feat: support vscode web
  src/FormatterProvider.ts
  src/LoggingService.ts
  src/StatusBarService.ts
  src/extension.ts
  src/test/suite/extension.test.ts
  src/utils.ts
Due: eslint --fix

build: update typescript to v4.6.3
  package-lock.json
  package.json
Due: none

build: update @vscode/test-web to v0.0.24
  package-lock.json
  package.json
Due: none

build: update eslint to v8.12.0
  package-lock.json
  package.json
Due: none

build: regenerate package-lock.json
  package-lock.json
Due: none

release: vscode-scss-formatter v2.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor: add FormatService
  src/FormatProvider.ts
  src/FormatService.ts
  src/extension.ts
Due: eslint --fix

fix: language selector for vscode web
  src/utils.ts
Due: eslint --fix

release: vscode-scss-formatter v2.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

test: increase mocha run timeout
  src/test/suite/index-node.ts
  src/test/suite/index-web.ts
Due: eslint --fix

refactor: add support for i18n
  package.json
  package.nls.json
  src/LoggingService.ts
  src/StatusBarService.ts
  src/test/suite/extension.test.ts
  src/utils.ts
Due: eslint --fix

build(deps): update prettier to v2.6.2
  package-lock.json
  package.json
Due: none

build(deps): update webpack to v5.71.0
  package-lock.json
  package.json
Due: none

build(deps): update @types/vscode to v1.66.0
  package-lock.json
  package.json
Due: none

build(deps): regenerate package-lock.json
  package-lock.json
Due: none

test: set default formatter for test-workspace
  test-workspace/test.code-workspace
Due: none

release: vscode-scss-formatter v2.4.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build: fix typescript library target
  tsconfig.json
Due: none

build(deps): update typescript to v4.7.3
  package-lock.json
  package.json
Due: none

build(deps): update webpack to v5.73.0
  package-lock.json
  package.json
Due: none

build(deps): update vsce to v2.9.1
  package-lock.json
  package.json
Due: none

build: update vscode requirement to v1.68.0
  package-lock.json
  package.json
Due: none

chore: add sponsors link
  package.json
Due: none

release: vscode-scss-formatter v2.4.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: add FUNDING.yml
  .github/FUNDING.yml
Due: none

chore: delete FUNDING.yml
  .github/FUNDING.yml
Due: none

build(deps): update devDependencies
  package-lock.json
  package.json
Due: none

fix trailingComma setting description
  package.json
Due: none

fix: trailingComma setting description (#17)
  package.json
Due: none

build: update dependencies and devDependencies
  package-lock.json
  package.json
Due: none

ci: update nodejs to v18
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: none
