Repository sibiraj-s/vscode-scss-formatter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,ts}': eslint --fix
'*.md': prettier --write

Fix workflow permissions
  .github/workflows/tests.yml
Due: none

Fix workflow permissions (#32)
  .github/workflows/tests.yml
Due: none

chore: bump devDependencies
  package-lock.json
  package.json
Due: none

chore: update prettier to v3.6.2
  package-lock.json
  package.json
Due: none

chore: regenerate package-lock.json
  package-lock.json
Due: none

release: vscode-scss-formatter v3.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: update workflows
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: none

chore: bump dependencies
  package-lock.json
  package.json
Due: none

chore: replace eslint with oxlint
  .lintstagedrc.yml
  .oxlintrc.json
  .vscode/extensions.json
  .vscodeignore
  eslint.config.js
  package-lock.json
  package.json
  src/test/runTest-web.ts
  src/test/runTest.ts
Due: eslint --fix

ci: update github actions
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: none

chore: update vscode test runners
  .vscode-test.js
  .vscode/extensions.json
  package-lock.json
  package.json
  src/test/runTest-web.ts
  src/test/runTest.ts
Due: eslint --fix

ci: fix checkout action version
  .github/workflows/tests.yml
Due: none

chore: bump dependencies
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  package-lock.json
  package.json
  src/test/suite/index-node.ts
  src/test/suite/index-web.ts
  tsconfig.json
Due: eslint --fix

chore: bump dependencies
  .oxlintrc.json
  package-lock.json
  package.json
Due: none

ci: bump github actions
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: none

test: improve test reliability
  src/test/suite/extension.test.ts
  test-workspace/test.code-workspace
Due: eslint --fix
